# autotools / build output
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/compile
/depcomp
/install-sh
/ltmain.sh
/libtool
/missing
/m4/*.m4
.deps/
.libs/
*.o
*.lo
*.la
*.4
/stamp-h1
*~
ChangeLog
INSTALL
config.guess
config.sub
*.tar.*
/dist/
